<p>
  <strong><%= comment.commenter%></strong>
</p>
<p>
  <strong>Comment: </strong>
  <%= comment.body %>
</p>
<%# delete a comment %>
<%= link_to "Destroy Comment", [comment.article, comment],
data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        }
%>
