<div class="main">
  <h1 id="page_title">The Blog</h1>
  <p id="page_content"><strong>Learning how to work with and make web applications using Rails.</strong>
    <br>
    Hello Rails server, This is my first attempt at making a web application using the rails framework. This site just contains the basic functionality for CRUD. Below is a list of articles created while testing this</p>
  <ul class="articles">
    <% @articles.each do |article|%>
      <li>
        <div >
          <h5 class="article_title"><%= article.title %></h5>
          <div class="article_body"><%= article.body%></div>
        </div>
        <div class="read_me"><%= link_to "Read More", article%></div>
      </li>
    <% end %>
  </ul>
</div>