/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
  margin: 0;
  padding: 0;
}
.nav_bar{
  background-color: #333;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  color: #ccc;
}
.article_title{font-size: 1.5em; font-weight: bold; text-transform: capitalize;}
.nav_links{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  font-size: 1.2em;
  padding: 15px;
}
.nav_links a{
  text-decoration: none;
  color: #ccc;
  padding: 15px;
}
.nav_links a:hover{
  background-color: black;
}

/* styling for the home page */
.main{
  padding: 30px;
  font-size: 1.2em;
  line-height: 2.3em;
}
#page_title{font-size: 2.5em;  letter-spacing: 3px;text-shadow: 2px 3px #ccc;}
#page_content{
  text-align: justify;
  line-height: 2em;
}
.articles{
  list-style-type: none;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  grid-template-rows: repeat(3, 1fr);
  padding:10px 0;
}
.articles>li{
  border: 1px solid black;
  padding:5px;
  border-radius: 8px;
  box-shadow: 2px 2px #ccc;
  transition: 150ms;
}
.articles>li:hover{
  scale: 1.02;
  color: black
}
.article_title a{
  text-decoration: none;
  color: #333;
}
.article_body{
  line-height: 1.6em;
}

