<div class="nav_bar">
  <div class="article_title">
    <h4>snebo's articles</h4>
  </div>
  <ul class="nav_links">
    <li><%= link_to "Home", articles_path%></li>
    <li><%= link_to "Create one", new_article_path%></li>
    <li><a href="https://www.github.com/snebo">About</a></li>
  </ul>
</div>